<?xml version="1.0"?>
<launch>
  <!--param name="red_brick_path" type="str" value="$(find pick_brick_ur5)/urdf/red_brick.urdf"/-->

  <arg name="limited" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false" />
  <arg name="sim" default="true" />

  <!-- startup simulated world -->
  <!--include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pick_brick_ur5)/worlds/bad_bricks_16.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- spwan ur5 -->
  <!-- send robot urdf to param server -->
  <include file="$(find ur_description)/launch/ur5_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.1 -y 0.7 -x 0.0" respawn="false" output="screen" />

  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

  <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur5.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>

  <!-- Launch moveit -->
  <include file="$(find ur5_moveit_config)/launch/move_group.launch">
    <arg name="limited" default="$(arg limited)"/>
    <arg name="debug" default="$(arg debug)" />
  </include>

  <!-- controll UR5 to go to the initial position -->
  <!--node name="go_initial_pose" pkg="pick_brick_ur5" type="go_initial_pose1.py" output="screen" /-->

  <!-- the cylinder poses publisher node -->
  <!--node name="ur5_vision" pkg="ur5_notebook" type="ur5_vision.py" output="screen" /-->
  <!--node name="ur5_mp" pkg="ur5_notebook" type="ur5_mp.py" output="screen" /-->
  <!--node name="ur5_gripper" pkg="ur5_notebook" type="ur5_gripper.py" output="screen"/-->
  <!-- for ros control to be used with scara robot -->
<!--   <param name="/scara_robot_left/robot_description" textfile="$(find two_scara_collaboration)/urdf/scara_robot_left.urdf" /> -->

<!-- spawn the red_brick in gazebo -->
  <!--node name="spawn_red_brick" pkg="gazebo_ros" type="spawn_model" args="-file $(find pick_brick_ur5)/urdf/red_brick.urdf -urdf -model red_brick -z 0.02 -y 0.330 -x 0.1"/-->


</launch>
